<h1>Cererea on-line de înscriere la creșă</h1>

<form 
  fxLayout="column"
  fxLayoutAlign="center center">
    <div 
        fxLayout="row"
        fxLayout.lt-md="column"
        fxLayoutGap.gt-sm="1.5rem">
      <mat-form-field 
          ngClass="form-field-ls" 
          ngClass.lt-md="form-field-ss"
          appearance="outline">
        <mat-select placeholder="Alege opțiune creșă 1">
          <mat-option value="option1">Creșa 1</mat-option>
          <mat-option value="option2">Creșa 2</mat-option>
          <mat-option value="option3">Creșa 3</mat-option>
          <mat-option value="option4">Creșa 4</mat-option>
          <mat-option value="option5">Creșa 5</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field 
          ngClass="form-field-ls" 
          ngClass.lt-md="form-field-ss"
          appearance="outline">
        <mat-select placeholder="Alege opțiune creșă 2">
          <mat-option value="option1">Creșa 1</mat-option>
          <mat-option value="option2">Creșa 2</mat-option>
          <mat-option value="option3">Creșa 3</mat-option>
          <mat-option value="option4">Creșa 4</mat-option>
          <mat-option value="option5">Creșa 5</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
</form>