@import './fonts';
@import './variables';
@import '~normalize.css';
@import './angular-material.theme';

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

@media all and (max-width: $flex-width-sm) {
  html {
      font-size: 12px;
  }
}

@media all and (max-width: $flex-width-sm / 2) {
  html {
    font-size: 10px;
  }
}



.logo {
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  animation-play-state: paused;
  font-size: 1.5rem;
  font-weight: 900;
}

h1 {
  margin: 0;
  margin-bottom: $gap-between-page-elements;
  font-weight: 400;
  padding: 0 1.5rem;
  font-size: 2.5rem;
  color: $dark-grey;
  background-color:$light-grey;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  text-align: left;
  width: 100%;
  height: 10.5rem;
}

h2 {
  color: $dark-grey;
  margin: 0 0 1.2rem 0;
  padding: 0;
  font-weight: 400;
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  text-align: left;
  width: 100%;
}

footer {
  margin-top: $gap-between-page-elements;
}
.container-ls {
  background-color: inherit !important;
  width: $flex-width-md - 20px;
}

.container-ss {
  background-color: inherit !important;
  width: 92%;
}

.error {
  color: $error-color;
}