<div 
    fxLayout="column"
    [fxLayoutGap]="gapBetweenFormElements"
    fxLayoutAlign="start">
  
  <mat-form-field appearance="outline">
    <input matInput placeholder="Adresă de email">
  </mat-form-field>
  <mat-radio-group
      [(ngModel)]="onlineForm.monoparentalFamily"
      aria-label="Select an option"  
      fxLayout="column"
      fxLayoutAlign="center stretch"
      [fxLayoutGap]="gapBetweenFormElements">
    <mat-radio-button [value]="true">
      Familie monoparentală sau cu reprezentant legal
    </mat-radio-button>      
    <mat-radio-button  [value]="false">
      Familie cu doi părinți
    </mat-radio-button>
  </mat-radio-group>
</div>