<form 
    fxLayout="column"
    [fxLayoutGap]="gapBetweenFormElements"
    fxLayoutAlign="start">
    <h3>Menționez că</h3>

    <div       
        fxLayout="row"
        fxLayoutAlign="start center"
        fxLayout.lt-md="column"
        [fxLayoutGap]="gapBetweenFormElements">
      <mat-checkbox fxFlex>
        Părintele/Reprezentantul legal  
      </mat-checkbox>
      <mat-form-field appearance="outline">
        <input matInput placeholder="Nume complet">
      </mat-form-field>
    </div>
    
    <div       
        fxLayout="row"
        fxLayoutAlign="start center"
        fxLayoutAlign.lt-md="start start"
        fxLayout.lt-md="column"
        [fxLayoutGap]="gapBetweenFormElements">
      <span fxFlex.gt-sm="37rem">
          se află în concediu de creștere și îngrijire copil și își va relua activitatea la data de   
      </span>
      <mat-form-field appearance="outline">
        <input matInput [matDatepicker]="picker" placeholder="alegeți o dată">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>

    <div       
        fxLayout="row"
        fxLayoutAlign="start center"
        fxLayout.lt-md="column"
        [fxLayoutGap]="gapBetweenFormElements">
      <mat-checkbox fxFlex>
        Copilul are un frate/soră în creșa  
      </mat-checkbox>
      <mat-form-field appearance="outline">
          <mat-select placeholder="Alege creșă ">
            <mat-option value="option1">Creșa 1</mat-option>
            <mat-option value="option2">Creșa 2</mat-option>
            <mat-option value="option3">Creșa 3</mat-option>
            <mat-option value="option4">Creșa 4</mat-option>
            <mat-option value="option5">Creșa 5</mat-option>
          </mat-select>
        </mat-form-field>
    </div>
    
    <mat-form-field appearance="outline">
      <textarea matInput placeholder="Alte mențiuni"></textarea>
    </mat-form-field>

</form>
