<div 
    fxLayout="column"
    fxLayoutAlign="start stretch"
    fxLayoutGap="1rem">
  <div class="logo">
    rodacie
  </div>
  <mat-divider></mat-divider>
  <ng-container *ngFor="let element of menu">
    <button 
        mat-button 
        *ngIf="(element.show$ | async) && (element.link !== 'logout')"
        [routerLink]="element.link">
      {{element.title}}
    </button>
    <button 
        mat-button 
        *ngIf="(element.show$ | async) && (element.link === 'logout')"
        (click)="logout()">
      {{element.title}}
    </button>
  </ng-container>
</div>