<form 
    novalidate
    [formGroup]="aboutChildForm"
    fxLayout="column"
    [fxLayoutGap]="gapBetweenFormElements"
    fxLayoutAlign="start">

  <div       
      fxLayout="row"
      fxLayoutAlign="center stretch"
      fxLayout.lt-md="column"
      [fxLayoutGap]="gapBetweenFormElements">
    <mat-form-field appearance="outline">
      <mat-select 
          formControlName="nurseryOption1"
          placeholder="Alege opțiune creșă 1">
        <mat-option value="option1">Creșa 1</mat-option>
        <mat-option value="option2">Creșa 2</mat-option>
        <mat-option value="option3">Creșa 3</mat-option>
        <mat-option value="option4">Creșa 4</mat-option>
        <mat-option value="option5">Creșa 5</mat-option>
      </mat-select>
      <mat-error>Trebuie aleasă o creșă.</mat-error>   
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-select 
          formControlName="nurseryOption2"
          placeholder="Alege opțiune creșă 2">
        <mat-option value="option1">Creșa 1</mat-option>
        <mat-option value="option2">Creșa 2</mat-option>
        <mat-option value="option3">Creșa 3</mat-option>
        <mat-option value="option4">Creșa 4</mat-option>
        <mat-option value="option5">Creșa 5</mat-option>
      </mat-select>
      <mat-error>Trebuie aleasă o creșă.</mat-error>   
    </mat-form-field>
  </div>
  <div       
      fxLayout="row"
      fxLayoutAlign="center stretch"
      fxLayout.lt-md="column"
      [fxLayoutGap]="gapBetweenFormElements">
    <mat-form-field appearance="outline">
      <input 
          formControlName="lastName" 
          matInput 
          placeholder="Nume copil">
      <mat-error>Numele copilului este obligatoriu.</mat-error>      
    </mat-form-field>
    <mat-form-field appearance="outline">
      <input 
          formControlName="firstName" 
          matInput 
          placeholder="Prenume copil">
      <mat-error>Prenumele copilului este obligatoriu.</mat-error>
    </mat-form-field>
  </div>
  <div       
      fxLayout="row"
      fxLayoutAlign="center stretch"
      fxLayout.lt-md="column"
      [fxLayoutGap]="gapBetweenFormElements">
    <mat-form-field appearance="outline">
      <input matInput placeholder="CNP">
    </mat-form-field>
    <div 
        fxLayout="row"
        fxLayout.lt-sm="column"
        [fxLayoutGap]="gapBetweenFormElements">
      <mat-form-field appearance="outline">
        <input matInput placeholder="Vârstă (ani)">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <input matInput placeholder="Vârstă (luni)">
      </mat-form-field>
    </div>      
  </div>
  <h3>Perioada de înscriere</h3>
  <mat-radio-group   
      aria-label="Select an option"  
      fxLayout="column"
      fxLayoutAlign="center stretch"
      [fxLayoutGap]="gapBetweenFormElements">
    <mat-radio-button value="1">
      Începând cu data de 02-09-2019 (data începerii anului școlar)
    </mat-radio-button>      
    <mat-radio-button value="2">
        <div 
            fxLayout="row" 
            fxLayoutAlign="start center"
            fxLayoutAlign.lt-sm="start start"
            [fxLayoutGap.gt-xs]="gapBetweenFormElements"
            fxLayout.lt-sm="column">
          <span>De la o data ulterioară:</span>
          <mat-form-field appearance="outline">
            <input matInput [matDatepicker]="picker" placeholder="alegeți o dată">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
      </mat-radio-button>
    </mat-radio-group>
</form>