<h1>Autentificare familie</h1>
<div 
    fxLayout="column"
    fxLayoutAlign="center center">
  <form 
      class="container-ls"
      ngClass.lt-lg="container-ss"    
      fxLayout="column"
      [formGroup]="loginForm"
      (ngSubmit)="onSubmit()"
      [fxLayoutGap]="gapBetweenFormElements"
      fxLayoutAlign="space-between stretch">

      <h3 class="error" *ngIf="loginError$ | async">
        Datele de autentificare au fost eronate!
      </h3>
      
      <mat-form-field appearance="outline">
        <mat-label>Nume utilizator</mat-label>        
        <input matInput
          type="text"
          formControlName="username"
          placeholder="Nume utilizator">
        <mat-error>Trebuie introdus numele de utilizator.</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Parolă utilizator</mat-label>    
        <input matInput
            type="password"
            appearance="outline"
            formControlName="password"
            placeholder="Parolă utilizator">
        <mat-error>Trebuie introdusă parola.</mat-error>
      </mat-form-field>

    <div 
        fxLayout="row"
        fxLayout.lt-md="column"
        [fxLayoutGap]="gapBetweenFormElements"
        fxLayoutAlign="start stretch">
      <button 
          [disabled]="loginForm.invalid"
          mat-raised-button
          color="primary"
          type="submit">
        Autentificare familie
      </button>
  
      <a 
          routerLink="/sign-in"
          mat-raised-button
          color="accent">
        Crează cont nou familie
      </a>
    </div>

  </form>
</div>
